
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="AreaLogin animated fadeInDown">
    <div class="frm-Login">
        <div class="frm-Header">
            <a>
                <img alt="Pcode" title="Pcode" src="~/Files/Image/PcodeLogo.png" />
            </a>
        </div>

        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="frm-Name">
                <span>Username </span>
                <input type="text" name="username" placeholder="Enter Username" />
            </div>
            <div class="frm-password">
                <span>Password </span>
                <input type="password" name="password" placeholder="Enter Password" />
            </div>
            <div class="frm-rememberme">
                <input type="checkbox" name="rememberme" />
                <span>Remember </span>
            </div>
            <div class="frm-footer">
                <div class="frm-Btn-forget">
                    <button type="submit">FORGET PASSWORD</button>
                </div>
                <div class="frm-Btn-log">
                    <button type="submit">LOGIN</button>
                </div>
            </div>
        }
    </div>
</div>
